<footer class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Về chúng tôi</h5>
                <p>
                    TechStore - Cửa hàng điện tử uy tín, chất lượng hàng đầu
                    Việt Nam.
                </p>
            </div>
            <div class="col-md-3">
                <h5>Hỗ trợ khách hàng</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-white">Hướng dẫn mua hàng</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Chính sách bảo hành</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Chính sách đổi trả</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Câu hỏi thường gặp</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Liên hệ</h5>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-map-marker-alt me-2"></i> 123 Đường
                        ABC, Quận 1, TP.HCM
                    </li>
                    <li><i class="fas fa-phone me-2"></i> 1900 1234</li>
                    <li>
                        <i class="fas fa-envelope me-2"></i> info@techstore.vn
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Kết nối với chúng tôi</h5>
                <div class="social-icons">
                    <a href="#" class="text-white me-3"
                        ><i class="fab fa-facebook-f fa-lg"></i
                    ></a>
                    <a href="#" class="text-white me-3"
                        ><i class="fab fa-twitter fa-lg"></i
                    ></a>
                    <a href="#" class="text-white me-3"
                        ><i class="fab fa-instagram fa-lg"></i
                    ></a>
                    <a href="#" class="text-white"
                        ><i class="fab fa-youtube fa-lg"></i
                    ></a>
                </div>
                <h5 class="mt-3">Thanh toán</h5>
                <div class="payment-methods">
                    <i class="fab fa-cc-visa fa-2x me-2"></i>
                    <i class="fab fa-cc-mastercard fa-2x me-2"></i>
                    <i class="fab fa-cc-paypal fa-2x me-2"></i>
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                </div>
            </div>
        </div>
        <hr class="my-4 bg-light" />
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2023 TechStore. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-end">
                <a href="#" class="text-white me-3">Điều khoản sử dụng</a>
                <a href="#" class="text-white">Chính sách bảo mật</a>
            </div>
        </div>
    </div>
</footer>
